<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate ="~{dashboard/dashboardFragments/dashboardLayout}">
<head>
    <meta charset="UTF-8">
    <title>주문관리</title>
</head>
<body layout:fragment="content">

<h1>주문관리</h1>

<hr>

<div>
    <input type="text" id="orderIds" name="orderIds">
    <button type="button" id="orderDetailBtn">주문 상세조회</button>
</div>

<div th:each="orderList : ${orderList}">
    <span th:text="orderList"></span>
</div>


<h2>주문상세정보</h2>
<div>
    <table>
        <tbody id="orderDetailtd"></tbody>
    </table>
</div>

<hr>

<div>
    <button type="button" id="naverProductListbtn">스마트스토어 상품리스트</button>
</div>

<h2>스마트스토어 등록 상품 리스트</h2>
<div>
    <table border="1px solid black">
        <thead id="naverProductListHead"></thead>
        <tbody id="naverProductListBody"></tbody>
    </table>
</div>

<script src="../JS/orderList.js"></script>

</body>
</html>