<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div class="counsel_form_modal_div">
    <div class="counsel_modal_content">
        <span class="counsel_span_1st">1:1 상담신청</span>
        <span class="counsel_span_2nd">신속하고 친절한 상담 도와드리겠습니다.</span>
        <div class="counsel_input_div">
            <input class="input_contact_company" type="text" placeholder="회사명">
        </div>
        <div class="counsel_input_div">
            <input class="input_contact_name" type="text" placeholder="담당자명">
        </div>
        <div class="counsel_input_div">
            <input class="input_contact_tel" type="tel" placeholder="연락처">
        </div>
        <div class="counsel_input_div">
            <input class="input_contact_mail" type="email" placeholder="이메일주소">
        </div>
        <div class="agree_div">
            <input class="privacy_agree_checkbox" type="checkbox" id="privacyAgree" name="privacy_agree" value="true">
            <label for="privacyAgree">개인정보수집 및 이용에 동의합니다.</label>
        </div>
        <button class="counsel_request_btn" type="button">상담신청하기</button>
    </div>
</div>


</html>