<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate ="~{fragments/layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>메인</title>
    <th:block layout:fragment="css"><link rel="stylesheet" th:href="@{../CSS/index.css}" /></th:block>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
</head>

<body>
<div layout:fragment="index" class="index_container">
    <div class="main_content_div">
        <div class="slide_div_wrap" id="slideShow">
            <div class="slide_div">
                <div class="slide_item"><img src="../images/1.jpg"></div>
                <div class="slide_item"><img src="../images/2.jpg"></div>
                <div class="slide_item"><img src="../images/3.jpg"></div>
                <div class="slide_item"><img src="../images/4.jpg"></div>
                <div class="slide_item"><img src="../images/5.jpg"></div>
                <div class="slide_item"><img src="../images/6.jpg"></div>
            </div>
            <p class="slide_controller">
                <span class="prev">&lang;</span>
                <span class="next">&rang;</span>
            </p>
        </div>
        <div class="counsel_div">
            <div class="counsel_btn_div">
                <button type="button" onclick="displayCounselModal()" class="counsel_btn">상담신청</button>
            </div>
        </div>
    </div>
    <div class="counsel_modal" id="counselModal">
        <div class="modal_box">
            <div class="close" onclick="hideCounselModal()">&times;</div>
            <div class="counsel_modal_container">
                <div class="counsel_form_container" id="counselFormContainer"></div>
            </div>
        </div>
    </div>
    <script src="../JS/index.js" type="text/javascript"></script>
</div>


</body>
</html>